<div class="main users-index">
    <h1 class="users-heading">Product Package: <%=ProductPackage.find(@order_type).name%></h1>
    <div class="extab">
        <table id="customers">
        <h2>Price List</h2>
        <tr>
            <th>Duration</th>
            <% @products.each do |product|%>
                <th><%=product.name%></th>
            <%end%>
            <% @optionals.each do |optional|%>
                <th><%=optional.name%></th>
            <%end%>
        </tr>
        <% @durations.each_with_index do |duration, i|%>
        <tr>
            <td><%= duration.to_s %> months</td>
            <% @products.each do |product|%>
                <td>
                    <%= Price.where(validity_period_id: i+1, product_id: product.id)[0].amount%> €<br/>
                </td>
            <%end%>
            <% @optionals.each do |optional|%>
                <td>
                    <%= optional.monthly_fee%> €<br/>
                </td>
            <%end%>
        </tr>
        <%end%>
        </table>
    </div>

    <div class="extab">
        <div class="form-body">
        <%= form_tag("order_detail") do%>
            <div class="container_a">
                <b>1. select a duration(months)</b><br/><br/>
                <select name="duration" id="a2">
                    <%= options_from_collection_for_select(ValidityPeriod.all, :id, :period) %>
                </select>
            </div>
            <div class="container_a">
                <b>2. select optional product</b><br/><br/>
                    <% OptionalProduct.all.each_with_index do |product, i| %>
                        <%= check_box_tag "optionals#{i+1}", product.id ,false %>
                        <%=  product.name %></br>
                    <% end %>
            </div>
            <div class="container_a">
                <b>3. select starting date</b><br/><br/>
                <%= date_select( :event ,:start_date) %>
            </div>

            <input class="btn btn-success btn-lg btn-block mb-3" type="submit" value="next">
        <%end%>
        </div>
    </div>
</div>
