<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeServiceLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="topnav" style= "background-color: #5F9EA0;">
    <div class="left">
    <%= link_to("Telcom","/home/index", class:"active")%>&nbsp;&nbsp;
    </div>
    <div class="right">
      <%= link_to("Customer","/customers/index", class:"menu")%>&nbsp;&nbsp;
      <%= link_to("Service","/products/index", class:"menu")%>&nbsp;&nbsp;
      <%= link_to("Order","/customers/index", class:"menu")%>&nbsp;&nbsp;

      <% if @name == "Login"%>
      <%= link_to("Register","/customers/register", class:"menu")%>
      <% else %>
      <%= link_to("#{@name}","/customers/personal/#{@current_user.id}", class:"menu")%>&nbsp;&nbsp;
      <%= link_to 'logout', customers_logout_path, method: :post %>
      <% end %>
    </div>
  </div>

  <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
  <% end %>

  <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
