<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeServiceLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar">
      `<ul>
          <li><%= link_to("Telcom","/home/index")%></li>
          <li><%= link_to("Customer","/customers/index")%></li>
          <li><%= link_to("Service","/product_packages/index")%></li>
          <li><%= link_to("Order","/customers/index")%></li>
          <div class="search">
            <% if @name == "Login"%>
            <li><%= link_to("Register","/customers/register")%></li>
            <% else %>
            <li><%= link_to("#{@name}","/customers/personal/#{@current_user.id}" )%></li>
            &nbsp;&nbsp;
            <li><%= link_to 'logout', customers_logout_path, method: :post %></li>
            <% end %>
          </div>
      </ul>
  </nav>
`
  <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
  <% end %>

  <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
