<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeServiceLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar">
      `<ul>
          <li><%= link_to("Telcom","/")%></li>
          <% if @name != "Employee" && @name != "Login"%>
          <li><%= link_to("Purchased list","/customers/activated/#{@current_user.id}")%></li>
          <% elsif @name == "Employee"%>
          <li><%= link_to("Package Creation","/employees/create_package_form")%></li>
          <li><%= link_to("Optional Product Creation","/employees/create_optional_form")%></li>
          <li><%= link_to("Sales Report","/employees/statistics")%></li>
          <%end%>
          <li><%= link_to("Buy Service","/product_packages/index")%></li>
          <div class="search">
            <% if @name == "Login"%>
            <li><%= link_to("Register","/customers/register")%></li>
            <% elsif @name != "Employee"%>
            <li><%= link_to("#{@name}","/customers/personal/#{@current_user.id}" )%></li>
            &nbsp;&nbsp;
            <li><%= link_to 'Logout', customers_logout_path, method: :post %></li>
            <% else%>
            <li><%= link_to 'Logout', customers_logout_path, method: :post %></li>
            <% end %>
          </div>
      </ul>
  </nav>
`
  <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
  <% end %>

  <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
